<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div class="wadoBox MuiBox-root css-0" style="grid-template-columns: repeat(1, 1fr); grid-template-rows: repeat(1, 1fr);">
		<div style="display: grid; width: 100%; height: 100%; grid-template-columns: repeat(5, 1fr); grid-template-rows: repeat(5, 1fr); background: black;">
			<div class="imageLayoutParentDiv border-active 0 0">
				<div class="css-18yvqoj">
					<div class="imageLayoutElement default0 default"
						style="width: 100%; height: 100%; margin: auto; overflow: hidden; position: absolute; touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); cursor: url(&quot;blob:http://192.168.50.23:5000/26717c51-da22-4468-bff9-2c35b683ad73&quot;) 8 8, auto;">
						<div class="topLeft small">
							<span class="block">14162</span> <span class="block">HONG
								GIL DONG </span> <span class="block">19471116</span> <span
								class="block">2</span> <span class="block imageNumber">1</span>
							<span class="block"></span> <span class="block">20230404</span> <span
								class="block">101417.712000</span>
						</div>
						<div class="topRight small">
							<span class="block"></span> <span class="block">SIEMENS</span> <span
								class="block">SOMATOM Scope</span>
						</div>
						<div class="bottomLeft small">
							<span class="block"></span>
						</div>
						<div class="bottomRight small">
							<span class="block">512/512</span> <span class="block">94
								/ 41</span> <span class="block">LYU UN JU</span>
						</div>
						<div class="bottomCenter small displayNone">
							<span class="block">SKH-BCH-001 Slice : 0.066% Patient :
								4.224%</span>
						</div>
						<canvas class="cornerstone-canvas" width="222"
							style="display: block; width: 222px; height: 149px;" height="149"></canvas>
					</div>
				</div>
			</div>
			<div class="imageLayoutParentDiv 0 1">
				<div class="css-18yvqoj">
					<div class="imageLayoutElement default1 default"
						style="width: 100%; height: 100%; margin: auto; overflow: hidden; position: absolute; touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); cursor: url(&quot;blob:http://192.168.50.23:5000/d32ebd94-891b-4d7e-8eca-a93f9cd0b487&quot;) 8 8, auto;">
						<div class="topLeft small">
							<span class="block">14162</span> <span class="block">HONG
								GIL DONG </span> <span class="block">19471116</span> <span
								class="block">2</span> <span class="block imageNumber">2</span>
							<span class="block"></span> <span class="block">20230404</span> <span
								class="block">101417.712000</span>
						</div>
						<div class="topRight small">
							<span class="block"></span> <span class="block">SIEMENS</span> <span
								class="block">SOMATOM Scope</span>
						</div>
						<div class="bottomLeft small">
							<span class="block"></span>
						</div>
						<div class="bottomRight small">
							<span class="block">512/512</span> <span class="block">94
								/ 41</span> <span class="block">LYU UN JU</span>
						</div>
						<div class="bottomCenter small displayNone">
							<span class="block">SKH-BCH-001 Slice : 0.019% Patient :
								4.224%</span>
						</div>
						<canvas class="cornerstone-canvas" width="222"
							style="display: block; width: 222px; height: 149px;" height="149"></canvas>
					</div>
				</div>
			</div>
			<div class="imageLayoutParentDiv 0 2">
				<div class="css-18yvqoj">
					<div class="imageLayoutElement default2 default"
						style="width: 100%; height: 100%; margin: auto; overflow: hidden; position: absolute; touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); cursor: url(&quot;blob:http://192.168.50.23:5000/fd9a9031-2136-40ce-8eae-b9f3c82cd011&quot;) 8 8, auto;">
						<div class="topLeft small">
							<span class="block">14162</span> <span class="block">HONG
								GIL DONG </span> <span class="block">19471116</span> <span
								class="block">2</span> <span class="block imageNumber">4</span>
							<span class="block"></span> <span class="block">20230404</span> <span
								class="block">101417.712000</span>
						</div>
						<div class="topRight small">
							<span class="block"></span> <span class="block">SIEMENS</span> <span
								class="block">SOMATOM Scope</span>
						</div>
						<div class="bottomLeft small">
							<span class="block"></span>
						</div>
						<div class="bottomRight small">
							<span class="block">512/512</span> <span class="block">94
								/ 41</span> <span class="block">LYU UN JU</span>
						</div>
						<div class="bottomCenter small displayNone">
							<span class="block">SKH-BCH-001 Slice : 0.013% Patient :
								4.224%</span>
						</div>
						<canvas class="cornerstone-canvas" width="222"
							style="display: block; width: 222px; height: 149px;" height="149"></canvas>
					</div>
				</div>
			</div>
			<div class="imageLayoutParentDiv 0 3">
				<div class="css-18yvqoj">
					<div class="imageLayoutElement default3 default"
						style="width: 100%; height: 100%; margin: auto; overflow: hidden; position: absolute; touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); cursor: url(&quot;blob:http://192.168.50.23:5000/308b050e-94fe-4bc5-8a1f-87c500e3f773&quot;) 8 8, auto;">
						<div class="topLeft small">
							<span class="block">14162</span> <span class="block">HONG
								GIL DONG </span> <span class="block">19471116</span> <span
								class="block">2</span> <span class="block imageNumber">5</span>
							<span class="block"></span> <span class="block">20230404</span> <span
								class="block">101417.712000</span>
						</div>
						<div class="topRight small">
							<span class="block"></span> <span class="block">SIEMENS</span> <span
								class="block">SOMATOM Scope</span>
						</div>
						<div class="bottomLeft small">
							<span class="block"></span>
						</div>
						<div class="bottomRight small">
							<span class="block">512/512</span> <span class="block">94
								/ 41</span> <span class="block">LYU UN JU</span>
						</div>
						<div class="bottomCenter small displayNone">
							<span class="block">SKH-BCH-001 Slice : 0.008% Patient :
								4.224%</span>
						</div>
						<canvas class="cornerstone-canvas" width="222"
							style="display: block; width: 222px; height: 149px;" height="149"></canvas>
					</div>
				</div>
			</div>
			<div class="imageLayoutParentDiv 0 4">
				<div class="css-18yvqoj">
					<div class="imageLayoutElement default4 default"
						style="width: 100%; height: 100%; margin: auto; overflow: hidden; position: absolute; touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); cursor: url(&quot;blob:http://192.168.50.23:5000/da703ec1-6218-4d52-8057-4c4e8c6a29bf&quot;) 8 8, auto;">
						<div class="topLeft small">
							<span class="block">14162</span> <span class="block">HONG
								GIL DONG </span> <span class="block">19471116</span> <span
								class="block">2</span> <span class="block imageNumber">6</span>
							<span class="block"></span> <span class="block">20230404</span> <span
								class="block">101417.712000</span>
						</div>
						<div class="topRight small">
							<span class="block"></span> <span class="block">SIEMENS</span> <span
								class="block">SOMATOM Scope</span>
						</div>
						<div class="bottomLeft small">
							<span class="block"></span>
						</div>
						<div class="bottomRight small">
							<span class="block">512/512</span> <span class="block">94
								/ 41</span> <span class="block">LYU UN JU</span>
						</div>
						<div class="bottomCenter small displayNone">
							<span class="block">SKH-BCH-001 Slice : 0.006% Patient :
								4.224%</span>
						</div>
						<canvas class="cornerstone-canvas" width="222"
							style="display: block; width: 222px; height: 149px;" height="149"></canvas>
					</div>
				</div>
			</div>
			<div class="imageLayoutParentDiv 0 5">
				<div class="css-18yvqoj">
					<div class="imageLayoutElement default5 default"
						style="width: 100%; height: 100%; margin: auto; overflow: hidden; position: absolute; touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); cursor: url(&quot;blob:http://192.168.50.23:5000/edfb5b21-3392-4c4d-b380-01f48ffd1b4d&quot;) 8 8, auto;">
						<div class="topLeft small">
							<span class="block">14162</span> <span class="block">HONG
								GIL DONG </span> <span class="block">19471116</span> <span
								class="block">2</span> <span class="block imageNumber">7</span>
							<span class="block"></span> <span class="block">20230404</span> <span
								class="block">101417.712000</span>
						</div>
						<div class="topRight small">
							<span class="block"></span> <span class="block">SIEMENS</span> <span
								class="block">SOMATOM Scope</span>
						</div>
						<div class="bottomLeft small">
							<span class="block"></span>
						</div>
						<div class="bottomRight small">
							<span class="block">512/512</span> <span class="block">94
								/ 41</span> <span class="block">LYU UN JU</span>
						</div>
						<div class="bottomCenter small displayNone">
							<span class="block">SKH-BCH-001 Slice : 0.021% Patient :
								4.224%</span>
						</div>
						<canvas class="cornerstone-canvas" width="222"
							style="display: block; width: 222px; height: 149px;" height="149"></canvas>
					</div>
				</div>
			</div>
			<div class="imageLayoutParentDiv 0 6">
				<div class="css-18yvqoj">
					<div class="imageLayoutElement default6 default"
						style="width: 100%; height: 100%; margin: auto; overflow: hidden; position: absolute; touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); cursor: url(&quot;blob:http://192.168.50.23:5000/5dab4ebe-1e17-4936-89be-6e1edd341f07&quot;) 8 8, auto;">
						<div class="topLeft small">
							<span class="block">14162</span> <span class="block">HONG
								GIL DONG </span> <span class="block">19471116</span> <span
								class="block">2</span> <span class="block imageNumber">8</span>
							<span class="block"></span> <span class="block">20230404</span> <span
								class="block">101417.712000</span>
						</div>
						<div class="topRight small">
							<span class="block"></span> <span class="block">SIEMENS</span> <span
								class="block">SOMATOM Scope</span>
						</div>
						<div class="bottomLeft small">
							<span class="block"></span>
						</div>
						<div class="bottomRight small">
							<span class="block">512/512</span> <span class="block">94
								/ 41</span> <span class="block">LYU UN JU</span>
						</div>
						<div class="bottomCenter small displayNone">
							<span class="block">SKH-BCH-001 Slice : 0.149% Patient :
								4.224%</span>
						</div>
						<canvas class="cornerstone-canvas" width="222"
							style="display: block; width: 222px; height: 149px;" height="149"></canvas>
					</div>
				</div>
			</div>
			<div class="imageLayoutParentDiv 0 7">
				<div class="css-18yvqoj">
					<div class="imageLayoutElement default7 default"
						style="width: 100%; height: 100%; margin: auto; overflow: hidden; position: absolute; touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); cursor: url(&quot;blob:http://192.168.50.23:5000/06c244cf-45fc-4a93-b32e-b0ab23ce9061&quot;) 8 8, auto;">
						<div class="topLeft small">
							<span class="block">14162</span> <span class="block">HONG
								GIL DONG </span> <span class="block">19471116</span> <span
								class="block">2</span> <span class="block imageNumber">9</span>
							<span class="block"></span> <span class="block">20230404</span> <span
								class="block">101417.712000</span>
						</div>
						<div class="topRight small">
							<span class="block"></span> <span class="block">SIEMENS</span> <span
								class="block">SOMATOM Scope</span>
						</div>
						<div class="bottomLeft small">
							<span class="block"></span>
						</div>
						<div class="bottomRight small">
							<span class="block">512/512</span> <span class="block">94
								/ 41</span> <span class="block">LYU UN JU</span>
						</div>
						<div class="bottomCenter small displayNone">
							<span class="block">SKH-BCH-001 Slice : 0.325% Patient :
								4.224%</span>
						</div>
						<canvas class="cornerstone-canvas" width="222"
							style="display: block; width: 222px; height: 149px;" height="149"></canvas>
					</div>
				</div>
			</div>
			<div class="imageLayoutParentDiv 0 8">
				<div class="css-18yvqoj">
					<div class="imageLayoutElement default8 default"
						style="width: 100%; height: 100%; margin: auto; overflow: hidden; position: absolute; touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); cursor: url(&quot;blob:http://192.168.50.23:5000/fa71383d-df87-408c-9467-c04ffafe8e57&quot;) 8 8, auto;">
						<div class="topLeft small">
							<span class="block">14162</span> <span class="block">HONG
								GIL DONG </span> <span class="block">19471116</span> <span
								class="block">2</span> <span class="block imageNumber">10</span>
							<span class="block"></span> <span class="block">20230404</span> <span
								class="block">101417.712000</span>
						</div>
						<div class="topRight small">
							<span class="block"></span> <span class="block">SIEMENS</span> <span
								class="block">SOMATOM Scope</span>
						</div>
						<div class="bottomLeft small">
							<span class="block"></span>
						</div>
						<div class="bottomRight small">
							<span class="block">512/512</span> <span class="block">94
								/ 41</span> <span class="block">LYU UN JU</span>
						</div>
						<div class="bottomCenter small displayNone">
							<span class="block">SKH-BCH-001 Slice : 0.170% Patient :
								4.224%</span>
						</div>
						<canvas class="cornerstone-canvas" width="222"
							style="display: block; width: 222px; height: 149px;" height="149"></canvas>
					</div>
				</div>
			</div>
			<div class="imageLayoutParentDiv 0 9">
				<div class="css-18yvqoj">
					<div class="imageLayoutElement default9 default"
						style="width: 100%; height: 100%; margin: auto; overflow: hidden; position: absolute; touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); cursor: url(&quot;blob:http://192.168.50.23:5000/4854224b-80d3-4e5d-9591-91c9fe77365e&quot;) 8 8, auto;">
						<div class="topLeft small">
							<span class="block">14162</span> <span class="block">HONG
								GIL DONG </span> <span class="block">19471116</span> <span
								class="block">2</span> <span class="block imageNumber">11</span>
							<span class="block"></span> <span class="block">20230404</span> <span
								class="block">101417.712000</span>
						</div>
						<div class="topRight small">
							<span class="block"></span> <span class="block">SIEMENS</span> <span
								class="block">SOMATOM Scope</span>
						</div>
						<div class="bottomLeft small">
							<span class="block"></span>
						</div>
						<div class="bottomRight small">
							<span class="block">512/512</span> <span class="block">94
								/ 41</span> <span class="block">LYU UN JU</span>
						</div>
						<div class="bottomCenter small displayNone">
							<span class="block">SKH-BCH-001 Slice : 0.069% Patient :
								4.224%</span>
						</div>
						<canvas class="cornerstone-canvas" width="222"
							style="display: block; width: 222px; height: 149px;" height="149"></canvas>
					</div>
				</div>
			</div>
			<div class="imageLayoutParentDiv 0 10">
				<div class="css-18yvqoj">
					<div class="imageLayoutElement default10 default"
						style="width: 100%; height: 100%; margin: auto; overflow: hidden; position: absolute; touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); cursor: url(&quot;blob:http://192.168.50.23:5000/771be1ec-947f-4c60-b9a5-323afd5ae54b&quot;) 8 8, auto;">
						<div class="topLeft small">
							<span class="block">14162</span> <span class="block">HONG
								GIL DONG </span> <span class="block">19471116</span> <span
								class="block">2</span> <span class="block imageNumber">12</span>
							<span class="block"></span> <span class="block">20230404</span> <span
								class="block">101417.712000</span>
						</div>
						<div class="topRight small">
							<span class="block"></span> <span class="block">SIEMENS</span> <span
								class="block">SOMATOM Scope</span>
						</div>
						<div class="bottomLeft small">
							<span class="block"></span>
						</div>
						<div class="bottomRight small">
							<span class="block">512/512</span> <span class="block">94
								/ 41</span> <span class="block">LYU UN JU</span>
						</div>
						<div class="bottomCenter small displayNone">
							<span class="block">SKH-BCH-001 Slice : 0.044% Patient :
								4.224%</span>
						</div>
						<canvas class="cornerstone-canvas" width="222"
							style="display: block; width: 222px; height: 149px;" height="149"></canvas>
					</div>
				</div>
			</div>
			<div class="imageLayoutParentDiv 0 11">
				<div class="css-18yvqoj">
					<div class="imageLayoutElement default11 default"
						style="width: 100%; height: 100%; margin: auto; overflow: hidden; position: absolute; touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); cursor: url(&quot;blob:http://192.168.50.23:5000/74794275-0e81-44d1-8d4e-c81f2c357f39&quot;) 8 8, auto;">
						<div class="topLeft small">
							<span class="block">14162</span> <span class="block">HONG
								GIL DONG </span> <span class="block">19471116</span> <span
								class="block">2</span> <span class="block imageNumber">13</span>
							<span class="block"></span> <span class="block">20230404</span> <span
								class="block">101417.712000</span>
						</div>
						<div class="topRight small">
							<span class="block"></span> <span class="block">SIEMENS</span> <span
								class="block">SOMATOM Scope</span>
						</div>
						<div class="bottomLeft small">
							<span class="block"></span>
						</div>
						<div class="bottomRight small">
							<span class="block">512/512</span> <span class="block">94
								/ 41</span> <span class="block">LYU UN JU</span>
						</div>
						<div class="bottomCenter small displayNone">
							<span class="block">SKH-BCH-001 Slice : 0.048% Patient :
								4.224%</span>
						</div>
						<canvas class="cornerstone-canvas" width="222"
							style="display: block; width: 222px; height: 149px;" height="149"></canvas>
					</div>
				</div>
			</div>
			<div class="imageLayoutParentDiv 0 12">
				<div class="css-18yvqoj">
					<div class="imageLayoutElement default12 default"
						style="width: 100%; height: 100%; margin: auto; overflow: hidden; position: absolute; touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); cursor: url(&quot;blob:http://192.168.50.23:5000/fe4f5519-115e-4223-9244-0fb55341032c&quot;) 8 8, auto;">
						<div class="topLeft small">
							<span class="block">14162</span> <span class="block">HONG
								GIL DONG </span> <span class="block">19471116</span> <span
								class="block">2</span> <span class="block imageNumber">14</span>
							<span class="block"></span> <span class="block">20230404</span> <span
								class="block">101417.712000</span>
						</div>
						<div class="topRight small">
							<span class="block"></span> <span class="block">SIEMENS</span> <span
								class="block">SOMATOM Scope</span>
						</div>
						<div class="bottomLeft small">
							<span class="block"></span>
						</div>
						<div class="bottomRight small">
							<span class="block">512/512</span> <span class="block">94
								/ 41</span> <span class="block">LYU UN JU</span>
						</div>
						<div class="bottomCenter small displayNone">
							<span class="block">SKH-BCH-001 Slice : 0.068% Patient :
								4.224%</span>
						</div>
						<canvas class="cornerstone-canvas" width="222"
							style="display: block; width: 222px; height: 149px;" height="149"></canvas>
					</div>
				</div>
			</div>
			<div class="imageLayoutParentDiv 0 13">
				<div class="css-18yvqoj">
					<div class="imageLayoutElement default13 default"
						style="width: 100%; height: 100%; margin: auto; overflow: hidden; position: absolute; touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); cursor: url(&quot;blob:http://192.168.50.23:5000/ab884007-65ac-4153-8bdd-7221819540d0&quot;) 8 8, auto;">
						<div class="topLeft small">
							<span class="block">14162</span> <span class="block">HONG
								GIL DONG </span> <span class="block">19471116</span> <span
								class="block">2</span> <span class="block imageNumber">15</span>
							<span class="block"></span> <span class="block">20230404</span> <span
								class="block">101417.712000</span>
						</div>
						<div class="topRight small">
							<span class="block"></span> <span class="block">SIEMENS</span> <span
								class="block">SOMATOM Scope</span>
						</div>
						<div class="bottomLeft small">
							<span class="block"></span>
						</div>
						<div class="bottomRight small">
							<span class="block">512/512</span> <span class="block">94
								/ 41</span> <span class="block">LYU UN JU</span>
						</div>
						<div class="bottomCenter small displayNone">
							<span class="block">SKH-BCH-001 Slice : 0.096% Patient :
								4.224%</span>
						</div>
						<canvas class="cornerstone-canvas" width="222"
							style="display: block; width: 222px; height: 149px;" height="149"></canvas>
					</div>
				</div>
			</div>
			<div class="imageLayoutParentDiv 0 14">
				<div class="css-18yvqoj">
					<div class="imageLayoutElement default14 default"
						style="width: 100%; height: 100%; margin: auto; overflow: hidden; position: absolute; touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); cursor: url(&quot;blob:http://192.168.50.23:5000/dc344551-0bb1-4d05-9c5b-640691cbd1cd&quot;) 8 8, auto;">
						<div class="topLeft small">
							<span class="block">14162</span> <span class="block">HONG
								GIL DONG </span> <span class="block">19471116</span> <span
								class="block">2</span> <span class="block imageNumber">16</span>
							<span class="block"></span> <span class="block">20230404</span> <span
								class="block">101417.712000</span>
						</div>
						<div class="topRight small">
							<span class="block"></span> <span class="block">SIEMENS</span> <span
								class="block">SOMATOM Scope</span>
						</div>
						<div class="bottomLeft small">
							<span class="block"></span>
						</div>
						<div class="bottomRight small">
							<span class="block">512/512</span> <span class="block">94
								/ 41</span> <span class="block">LYU UN JU</span>
						</div>
						<div class="bottomCenter small displayNone">
							<span class="block">SKH-BCH-001 Slice : 0.119% Patient :
								4.224%</span>
						</div>
						<canvas class="cornerstone-canvas" width="222"
							style="display: block; width: 222px; height: 149px;" height="149"></canvas>
					</div>
				</div>
			</div>
			<div class="imageLayoutParentDiv 0 15">
				<div class="css-18yvqoj">
					<div class="imageLayoutElement default15 default"
						style="width: 100%; height: 100%; margin: auto; overflow: hidden; position: absolute; touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); cursor: url(&quot;blob:http://192.168.50.23:5000/fd177b39-f379-4c1c-aa56-ff69339e0c56&quot;) 8 8, auto;">
						<div class="topLeft small">
							<span class="block">14162</span> <span class="block">HONG
								GIL DONG </span> <span class="block">19471116</span> <span
								class="block">2</span> <span class="block imageNumber">17</span>
							<span class="block"></span> <span class="block">20230404</span> <span
								class="block">101417.712000</span>
						</div>
						<div class="topRight small">
							<span class="block"></span> <span class="block">SIEMENS</span> <span
								class="block">SOMATOM Scope</span>
						</div>
						<div class="bottomLeft small">
							<span class="block"></span>
						</div>
						<div class="bottomRight small">
							<span class="block">512/512</span> <span class="block">94
								/ 41</span> <span class="block">LYU UN JU</span>
						</div>
						<div class="bottomCenter small displayNone">
							<span class="block">SKH-BCH-001 Slice : 0.146% Patient :
								4.224%</span>
						</div>
						<canvas class="cornerstone-canvas" width="222"
							style="display: block; width: 222px; height: 149px;" height="149"></canvas>
					</div>
				</div>
			</div>
			<div class="imageLayoutParentDiv 0 16">
				<div class="css-18yvqoj">
					<div class="imageLayoutElement default16 default"
						style="width: 100%; height: 100%; margin: auto; overflow: hidden; position: absolute; touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); cursor: url(&quot;blob:http://192.168.50.23:5000/63aaabd7-d152-4b58-bcd0-159e14d90af7&quot;) 8 8, auto;">
						<div class="topLeft small">
							<span class="block">14162</span> <span class="block">HONG
								GIL DONG </span> <span class="block">19471116</span> <span
								class="block">2</span> <span class="block imageNumber">18</span>
							<span class="block"></span> <span class="block">20230404</span> <span
								class="block">101417.712000</span>
						</div>
						<div class="topRight small">
							<span class="block"></span> <span class="block">SIEMENS</span> <span
								class="block">SOMATOM Scope</span>
						</div>
						<div class="bottomLeft small">
							<span class="block"></span>
						</div>
						<div class="bottomRight small">
							<span class="block">512/512</span> <span class="block">94
								/ 41</span> <span class="block">LYU UN JU</span>
						</div>
						<div class="bottomCenter small displayNone">
							<span class="block">SKH-BCH-001 Slice : 0.158% Patient :
								4.224%</span>
						</div>
						<canvas class="cornerstone-canvas" width="222"
							style="display: block; width: 222px; height: 149px;" height="149"></canvas>
					</div>
				</div>
			</div>
			<div class="imageLayoutParentDiv 0 17">
				<div class="css-18yvqoj">
					<div class="imageLayoutElement default17 default"
						style="width: 100%; height: 100%; margin: auto; overflow: hidden; position: absolute; touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); cursor: url(&quot;blob:http://192.168.50.23:5000/cd5ce614-9515-4648-ae14-70989f04d862&quot;) 8 8, auto;">
						<div class="topLeft small">
							<span class="block">14162</span> <span class="block">HONG
								GIL DONG </span> <span class="block">19471116</span> <span
								class="block">2</span> <span class="block imageNumber">19</span>
							<span class="block"></span> <span class="block">20230404</span> <span
								class="block">101417.712000</span>
						</div>
						<div class="topRight small">
							<span class="block"></span> <span class="block">SIEMENS</span> <span
								class="block">SOMATOM Scope</span>
						</div>
						<div class="bottomLeft small">
							<span class="block"></span>
						</div>
						<div class="bottomRight small">
							<span class="block">512/512</span> <span class="block">94
								/ 41</span> <span class="block">LYU UN JU</span>
						</div>
						<div class="bottomCenter small displayNone">
							<span class="block">SKH-BCH-001 Slice : 0.134% Patient :
								4.224%</span>
						</div>
						<canvas class="cornerstone-canvas" width="222"
							style="display: block; width: 222px; height: 149px;" height="149"></canvas>
					</div>
				</div>
			</div>
			<div class="imageLayoutParentDiv 0 18">
				<div class="css-18yvqoj">
					<div class="imageLayoutElement default18 default"
						style="width: 100%; height: 100%; margin: auto; overflow: hidden; position: absolute; touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); cursor: url(&quot;blob:http://192.168.50.23:5000/49ab3d00-b1fb-43f5-8246-5401c000d4cc&quot;) 8 8, auto;">
						<div class="topLeft small">
							<span class="block">14162</span> <span class="block">HONG
								GIL DONG </span> <span class="block">19471116</span> <span
								class="block">2</span> <span class="block imageNumber">20</span>
							<span class="block"></span> <span class="block">20230404</span> <span
								class="block">101417.712000</span>
						</div>
						<div class="topRight small">
							<span class="block"></span> <span class="block">SIEMENS</span> <span
								class="block">SOMATOM Scope</span>
						</div>
						<div class="bottomLeft small">
							<span class="block"></span>
						</div>
						<div class="bottomRight small">
							<span class="block">512/512</span> <span class="block">94
								/ 41</span> <span class="block">LYU UN JU</span>
						</div>
						<div class="bottomCenter small displayNone">
							<span class="block">SKH-BCH-001 Slice : 0.081% Patient :
								4.224%</span>
						</div>
						<canvas class="cornerstone-canvas" width="222"
							style="display: block; width: 222px; height: 149px;" height="149"></canvas>
					</div>
				</div>
			</div>
			<div class="imageLayoutParentDiv 0 19">
				<div class="css-18yvqoj">
					<div class="imageLayoutElement default19 default"
						style="width: 100%; height: 100%; margin: auto; overflow: hidden; position: absolute; touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); cursor: url(&quot;blob:http://192.168.50.23:5000/8a5bdf6b-911f-4215-b93c-89fe55cb9e59&quot;) 8 8, auto;">
						<div class="topLeft small">
							<span class="block">14162</span> <span class="block">HONG
								GIL DONG </span> <span class="block">19471116</span> <span
								class="block">2</span> <span class="block imageNumber">21</span>
							<span class="block"></span> <span class="block">20230404</span> <span
								class="block">101417.712000</span>
						</div>
						<div class="topRight small">
							<span class="block"></span> <span class="block">SIEMENS</span> <span
								class="block">SOMATOM Scope</span>
						</div>
						<div class="bottomLeft small">
							<span class="block"></span>
						</div>
						<div class="bottomRight small">
							<span class="block">512/512</span> <span class="block">94
								/ 41</span> <span class="block">LYU UN JU</span>
						</div>
						<div class="bottomCenter small displayNone">
							<span class="block">SKH-BCH-001 Slice : 0.044% Patient :
								4.224%</span>
						</div>
						<canvas class="cornerstone-canvas" width="222"
							style="display: block; width: 222px; height: 149px;" height="149"></canvas>
					</div>
				</div>
			</div>
			<div class="imageLayoutParentDiv 0 20">
				<div class="css-18yvqoj">
					<div class="imageLayoutElement default20 default"
						style="width: 100%; height: 100%; margin: auto; overflow: hidden; position: absolute; touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); cursor: url(&quot;blob:http://192.168.50.23:5000/984646f0-9754-4e8d-9c5c-fc630228af76&quot;) 8 8, auto;">
						<div class="topLeft small">
							<span class="block">14162</span> <span class="block">HONG
								GIL DONG </span> <span class="block">19471116</span> <span
								class="block">2</span> <span class="block imageNumber">22</span>
							<span class="block"></span> <span class="block">20230404</span> <span
								class="block">101417.712000</span>
						</div>
						<div class="topRight small">
							<span class="block"></span> <span class="block">SIEMENS</span> <span
								class="block">SOMATOM Scope</span>
						</div>
						<div class="bottomLeft small">
							<span class="block"></span>
						</div>
						<div class="bottomRight small">
							<span class="block">512/512</span> <span class="block">94
								/ 41</span> <span class="block">LYU UN JU</span>
						</div>
						<div class="bottomCenter small displayNone">
							<span class="block">SKH-BCH-001 Slice : 0.029% Patient :
								4.224%</span>
						</div>
						<canvas class="cornerstone-canvas" width="222"
							style="display: block; width: 222px; height: 149px;" height="149"></canvas>
					</div>
				</div>
			</div>
			<div class="imageLayoutParentDiv 0 21">
				<div class="css-18yvqoj">
					<div class="imageLayoutElement default21 default"
						style="width: 100%; height: 100%; margin: auto; overflow: hidden; position: absolute; touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); cursor: url(&quot;blob:http://192.168.50.23:5000/67d4fbc1-14e0-4a2b-9df6-bd0d40e633e1&quot;) 8 8, auto;">
						<div class="topLeft small">
							<span class="block">14162</span> <span class="block">HONG
								GIL DONG </span> <span class="block">19471116</span> <span
								class="block">2</span> <span class="block imageNumber">23</span>
							<span class="block"></span> <span class="block">20230404</span> <span
								class="block">101417.712000</span>
						</div>
						<div class="topRight small">
							<span class="block"></span> <span class="block">SIEMENS</span> <span
								class="block">SOMATOM Scope</span>
						</div>
						<div class="bottomLeft small">
							<span class="block"></span>
						</div>
						<div class="bottomRight small">
							<span class="block">512/512</span> <span class="block">94
								/ 41</span> <span class="block">LYU UN JU</span>
						</div>
						<div class="bottomCenter small displayNone">
							<span class="block">SKH-BCH-001 Slice : 0.024% Patient :
								4.224%</span>
						</div>
						<canvas class="cornerstone-canvas" width="222"
							style="display: block; width: 222px; height: 149px;" height="149"></canvas>
					</div>
				</div>
			</div>
			<div class="imageLayoutParentDiv 0 22">
				<div class="css-18yvqoj">
					<div class="imageLayoutElement default22 default"
						style="width: 100%; height: 100%; margin: auto; overflow: hidden; position: absolute; touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); cursor: url(&quot;blob:http://192.168.50.23:5000/3c673d5f-d9d5-48fd-ae9a-939edd422e13&quot;) 8 8, auto;">
						<div class="topLeft small">
							<span class="block">14162</span> <span class="block">HONG
								GIL DONG </span> <span class="block">19471116</span> <span
								class="block">2</span> <span class="block imageNumber">24</span>
							<span class="block"></span> <span class="block">20230404</span> <span
								class="block">101417.712000</span>
						</div>
						<div class="topRight small">
							<span class="block"></span> <span class="block">SIEMENS</span> <span
								class="block">SOMATOM Scope</span>
						</div>
						<div class="bottomLeft small">
							<span class="block"></span>
						</div>
						<div class="bottomRight small">
							<span class="block">512/512</span> <span class="block">94
								/ 41</span> <span class="block">LYU UN JU</span>
						</div>
						<div class="bottomCenter small displayNone">
							<span class="block">SKH-BCH-001 Slice : 0.026% Patient :
								4.224%</span>
						</div>
						<canvas class="cornerstone-canvas" width="222"
							style="display: block; width: 222px; height: 149px;" height="149"></canvas>
					</div>
				</div>
			</div>
			<div class="imageLayoutParentDiv 0 23">
				<div class="css-18yvqoj">
					<div class="imageLayoutElement default23 default"
						style="width: 100%; height: 100%; margin: auto; overflow: hidden; position: absolute; touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); cursor: url(&quot;blob:http://192.168.50.23:5000/7ad11d8f-aa0e-4531-87db-0c8302574f2a&quot;) 8 8, auto;">
						<div class="topLeft small">
							<span class="block">14162</span> <span class="block">HONG
								GIL DONG </span> <span class="block">19471116</span> <span
								class="block">2</span> <span class="block imageNumber">25</span>
							<span class="block"></span> <span class="block">20230404</span> <span
								class="block">101417.712000</span>
						</div>
						<div class="topRight small">
							<span class="block"></span> <span class="block">SIEMENS</span> <span
								class="block">SOMATOM Scope</span>
						</div>
						<div class="bottomLeft small">
							<span class="block"></span>
						</div>
						<div class="bottomRight small">
							<span class="block">512/512</span> <span class="block">94
								/ 41</span> <span class="block">LYU UN JU</span>
						</div>
						<div class="bottomCenter small displayNone">
							<span class="block">SKH-BCH-001 Slice : 0.033% Patient :
								4.224%</span>
						</div>
						<canvas class="cornerstone-canvas" width="222"
							style="display: block; width: 222px; height: 149px;" height="149"></canvas>
					</div>
				</div>
			</div>
			<div class="imageLayoutParentDiv 0 24">
				<div class="css-18yvqoj">
					<div class="imageLayoutElement default24 default"
						style="width: 100%; height: 100%; margin: auto; overflow: hidden; position: absolute; touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); cursor: url(&quot;blob:http://192.168.50.23:5000/1a025635-845a-48da-b5ab-e78689a7f09a&quot;) 8 8, auto;">
						<div class="topLeft small">
							<span class="block">14162</span> <span class="block">HONG
								GIL DONG </span> <span class="block">19471116</span> <span
								class="block">2</span> <span class="block imageNumber">26</span>
							<span class="block"></span> <span class="block">20230404</span> <span
								class="block">101417.712000</span>
						</div>
						<div class="topRight small">
							<span class="block"></span> <span class="block">SIEMENS</span> <span
								class="block">SOMATOM Scope</span>
						</div>
						<div class="bottomLeft small">
							<span class="block"></span>
						</div>
						<div class="bottomRight small">
							<span class="block">512/512</span> <span class="block">94
								/ 41</span> <span class="block">LYU UN JU</span>
						</div>
						<div class="bottomCenter small displayNone">
							<span class="block">SKH-BCH-001 Slice : 0.045% Patient :
								4.224%</span>
						</div>
						<canvas class="cornerstone-canvas" width="222"
							style="display: block; width: 222px; height: 149px;" height="149"></canvas>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>