body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #1e1e1e;
	color: #fff;
}

.container {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.header {
	background-color: #B8EDB5;
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.toolbar {
	background-color: #f0f0f0;
	padding: 10px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
@media screen and (max-width: 1920px) {
    .main-content {
        height: calc(100% - 70px);
    }
}
.main-content {
	display: flex;
	flex: 1;
}


.left-panel, .right-panel {
	width: 10%;
	background-color: #2a2a2a;
	padding: 10px;
}

.center-panel {
	flex: 1;
	background-color: #000;
	border: 2px solid #ff0000;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	overflow: hidden;
	cursor: url(/img/cross.cur) 8 8, auto;
}


.contentDivBox {
    display: flex;
    margin-left: 12px;
    position: relative;
    width: calc(100% - 40px);
    height: calc(100%);
    cursor: url(/img/cross.cur) 8 8, auto;
}

.wadoBox{
	width: calc(-150px + 100vw); 
    height: 100%;
    display: grid;
    /* background-color: black; */    
}
.parentDiv{
	/* background-color: black; */
    border: 3px solid rgb(56, 56, 56);
}


.footer {
	background-color: #f9f9f9;
	padding: 5px;
	text-align: center;
}

.footer p {
	color: #000;
}

.image-placeholder {
	width: 100%;
	height: 100%;
	background-color: #444;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 24px;
	box-sizing: border-box;
}

.btn, .action-button, .interface-button, .prev_button, .next_button,
	.reversal_button, .play-button {
	display: flex;
	align-items: center;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 14px;
	transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
	user-select: none;
}

.btn, .action-button {
	padding: 10px 20px;
	gap: 8px;
}

.action-buttons {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.action-button {
	background: #007bff;
	color: white;
	padding: 8px 15px;
}

.action-button i {
	margin-right: 8px;
}

.action-button:hover {
	background-color: #0056b3;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	transform: translateY(-2px);
}

.interface-toolbar {
	display: flex;
	gap: 10px;
	flex-wrap: wrap;
	margin-top: 10px;
}

.interface-button {
	background: #444;
	color: white;
	padding: 8px 12px;
	font-size: 12px;
}

.interface-button i:nth-of-type(1) {
	margin-right: 6px;
}

.interface-button:hover {
	background-color: #666;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	transform: translateY(-2px);
}

.interface-button.active {
	background-color: #007bff;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.separator {
	border-bottom: 1px solid #fff;
	margin: 10px 0;
}

.topLeft, .topRight, .bottomLeft, .bottomRight {
	position: absolute;
	color: white;
	padding: 10px;
	z-index: 1;
	font-size: calc(1rem + 1vw);
	max-font-size: 1rem;
}

.topLeft {
	top: 10px;
	left: 10px;
}

.topRight {
	top: 10px;
	right: 10px;
}

.bottomLeft {
	bottom: 10px;
	left: 10px;
}

.bottomRight {
	bottom: 10px;
	right: 10px;
}

.block {
	display: block;
}

.responsive-font {
	font-size: 0.9vw;
}

.playClipModal {
	position: absolute;
	border: 1px solid white;
	background-color: rgb(57, 57, 57);
	bottom: 10px;
	left: 50%;
	border-radius: 10px;
	padding: 10px;
	transform: translateX(-50%);
	display: none;
	z-index: 10;
}

.playClipModal .MuiBox-root, .fpsbutton {
	display: flex;
	cursor: url(/img/cross.cur) 8 8, auto;
	align-items: center;
	justify-content: space-between;
}

.fpsbutton {
	font-size: 15px;
}

.play-button, .speedbutton {
	display: inline-block;
	cursor: url(/img/cross.cur) 8 8, auto;
	user-select: none;
	margin: 5px;
	background-color: rgb(170, 170, 170);
	border-radius: 5px;
	text-align: center;
	padding: 5px 0px;
	width: 15%;
	margin: 5px;
}

p.fpswords {
	vertical-align: middle;
	text-align: center;
	color: white;
	width: 60%;
	line-height: 30px;
	user-select: none;
}

.interface-button.disabled {
	background-color: #888;
	cursor: not-allowed;
	opacity: 0.6;
}

.tools_naming {
	margin-right: 6px;
}

.toolModalChildren {
	position: absolute;
	user-select: none;
	border: 1px solid white;
	background-color: #444;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	z-index: 1000;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 10px;
	white-space: nowrap;
	display: none;
}

.toolModalChildren div {
	padding: 5px 10px;
	color: white;
	cursor: pointer;
}

.toolModalChildren div:hover {
	background-color: #555;
}

.toolModalChildren.custom-width {
	max-width: 270px;
	width: auto;
}

.interface-button.custom-active {
	background-color: #666;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	transform: translateY(-2px);
}

.play-button.active {
	background-color: rgba(170, 170, 170);
	color: white;
	border: none;
	box-shadow: none;
}

.play-button:hover {
	background-color: #666;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	transform: translateY(-2px);
}

.play-button.active:hover {
	background-color: rgba(170, 170, 170);
	box-shadow: none;
	transform: none;
}

.custom-playClipModal {
	align-items: center;
	justify-content: space-between;
	width: 300px; /* 전체 컨테이너의 너비를 조정합니다 */
	padding: 5px;
	height: auto !important;
}

.custom-playClipModal .MuiBox-root {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.custom-playClipModal .play-button, .custom-playClipModal .stop-button,
	.custom-playClipModal .speedbutton {
	width: 40px; /* 버튼 너비 조정 */
	padding: 5px 0;
	margin: 0 2px; /* 버튼 간격 조정 */
	text-align: center;
}

.custom-playClipModal .fpsbutton {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2px; /* 좌우 버튼 사이의 간격 조정 */
}

.custom-playClipModal .fpswords {
	margin: 0;
	font-size: 14px;
}

p.copyright {
	color: grey;
}

.layoutModal {
	position: absolute;
	grid-template-columns: repeat(5, 1fr); /* 5x5 그리드 설정 */
	gap: 5px;
	background-color: #444;
	border: 1px solid white;
	padding: 5px;
	z-index: 1000;
	display: none;
}

.grid-item {
	width: 0.4375em; /* 약 7px 크기 */
	height: 12px;
	background-color: #666;
	border: 1px solid rgba(112, 128, 144, 1);
	border-radius: 3px;
	cursor: pointer;
	display: inline-block; /* 정사각형으로 표시되도록 설정 */
}

.grid-item.highlight, .grid-item:hover {
	background-color: rgba(204, 204, 204, 1) !important;
	/* hover 시에도 배경색을 변경하지 않음 */
	border-color: rgba(112, 128, 144, 1) !important; /* 테두리 색상 유지 */
}

/* 동적으로 추가될 grid-container 스타일 */
.grid-container {
	width: 100%;
	height: 100%;
	display: grid;
	gap: 5px; /* 셀 간격 */
}

/* 각 grid-cell의 스타일 */
.grid-cell {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid yellow; /* 선택된 셀 테두리 */
	overflow: hidden;
}